[user]
	name = Rory MacQueen
	email = rorymacqueen@gmail.com
[core]
	editor = subl -w
	excludesfile = ~/.gitignore
[color]
	status = auto
	commit = auto
	diff = auto
	branch = auto
[credential]
	helper = cache --timeout=28800
[push]
	default = simple
[alias]
  s = status
  d = diff
  dm = diff master
  du = !git fetch && git diff @{upstream}
  br = branch
  re = rebase
  ri = rebase -i
  rim = rebase -i master
  ch = checkout
  co = commit
  edit = commit --amend
  fix = commit --amend --no-edit
  wip = !bash -c 'git commit -m \"wip $1\"' -
  graph = log --graph --pretty=oneline --abbrev-commit --color --decorate
  publish = push --set-upstream origin HEAD
  pub = !git publish
  nuke = clean -xdf
  reup = !git fetch && git reset --hard @{upstream}
  patch = !git format-patch -o ~/checkout/patches
[init]
	templatedir = ~/.git_template
