[user]
	name = Matt Watson
	email = mattdangerw@gmail.com
[core]
	editor = subl -w
	excludesfile = ~/.gitignore
[color]
	status = auto
	commit = auto
	diff = auto
	branch = auto
[credential]
	helper = cache --timeout=28800
[push]
	default = simple
[alias]
  s = status
  d = diff
  dd = diff dev
  du = !git fetch && git diff @{upstream}
  br = branch
  re = rebase
  rd = rebase -i dev
  ch = checkout
  co = commit
  edit = commit --amend
  fix = commit --amend --no-edit
  wip = commit -m "wip"
  graph = log --graph --pretty=oneline --abbrev-commit --color --decorate
  publish = push --set-upstream origin HEAD
  pub = !git publish
  nuke = clean -xdf
  reup = !git fetch && git reset --hard @{upstream}
  patch = !git format-patch -o ~/checkout/patches
[init]
	templatedir = ~/.git_template
